<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmsc434.refridgerator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Fridge"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name="cmsc434.refridgerator.baseNav">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="cmsc434.refridgerator.subAct"/>
        <activity android:label="@string/app_name" android:name="cmsc434.refridgerator.msgPg"/>
        <activity android:label="@string/app_name" android:name="cmsc434.refridgerator.msgLv"
            android:parentActivityName="cmsc434.refridgerator.msgPg"/>
        <activity android:label="Fridge" android:name="cmsc434.refridgerator.Add_User"/>
    </application>

</manifest>